.Home .Home__header_wrapper {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  background-image: url(../../assets/images/header_1.jpg);
  background-size: cover;
}

.Home header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home button {
  margin-top: 40px;
}

.Home h1,
.Home h2 {
  margin: 10px 0;
  font-size: 36px;
  text-transform: uppercase;
}

.Home section {
  padding: 100px 0 0;
}

.Home section h2,
.Home section p {
  width: 100%;
  text-align: left;
}

.Home section p {
  color: #B0B0B0;
}

.Home p {
  margin: 10px 0;
}

.Home .Home__content {
  max-width: 650px;
  width: 100%;
}

.Home .Home__content {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.Home img {
  width: 100%;
  margin: 60px 0;
}

.Home .Home__list {
  display: flex;
}

.Home .Home__list_item {
  display: flex;
  flex-direction: column;
}

.Home .Home__list .Home__list_item:first-child {
  margin: 0 20px 0 0;
}

.Home .Home__list_item_img {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
}

.Home .Home__list_item_img img {
  margin: 0;
  height: 36px;
  width: auto;
}

.Home .Home__list_item h4 {
  width: 100%;
  text-align: left;
  margin: 40px 0 20px;
}

.Home .Home__box_section {
  padding: 100px 100px 0;
  box-sizing: border-box;
}

.Home .Home__box {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  background-image: url(../../assets/images/content_3.jpg);
  background-size: cover;
  background-position: center -160px;
  background-repeat: no-repeat;
}

.Home .Home__box .Home__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Home__box .Home__content h2,
.Home .Home__box .Home__content p {
  text-align: center;
  width: 100%;
}

.Home .Home__box .Home__content button {
  margin: 40px auto 0;
}

.Home a {
  text-decoration: none;
}