.Registration {
  width: 100%;
  text-align: start;
}

.Registration h2 {
  margin: 0;
}

.Registration header {
  margin: 0 0 50px;
}

.Registration label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}