.Login {
  width: 100%;
  text-align: start;
}

.Login h2 {
  margin: 0;
}

.Login header {
  margin: 0 0 50px;
}

.Login label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}